body{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: wheat;
    border: 1px solid gray;
    position: fixed;
    height: 100%;
    overflow: auto;
}
li{
    border-bottom: 1px solid gray;
    /* text-align: center; */
}
li a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 21px;
    font-family:'Times New Roman', Times, serif ;

}
li a.active{
    background-color: gray;
    color: white;
}
li a:hover:not(.active){
    background-color: gray;
    color: white;
}
div{
    margin-left: 20%;
    padding: 2px 5px;
}