body{
    background-color: antiquewhite;
    /* background-image: url(images/indir.jfif);
    background-repeat: no-repeat; */
}
h2{
    text-align: center;
    font-size: 20ppx;
    color: red;
}
h3{
    color: blue;
    border: 2px solid  red;
}
p{
    line-height: 160%; /* satır aralığı*/
    text-indent: 40px; /* başlangıç için boşluk bırakıyor*/
    color: purple;
    font-size: 15;
    font-weight: 300;
    font-style: italic;
}
#first{
    color: rgb(93, 164, 84);
}