h2{
    text-align: center;
}
button[type="button"]{
    width: 100%;
    background-color: plum;
    color: #fff;
    padding: 15px 0;
    margin: 15px 0;
    border:none;
    border-radius: 2px;
    cursor: pointer;
}
button[type="button"]:hover{
    background-color: rgb(52, 172, 188);
}